/__Scripts__
__Scripts__/
__Scripts__


.idea
idea
*/__pycache__/
__pycache__/
*.py[cod]
.pyc



db.sqlite3
sqlite3
new.file
sqlite.db
dist
venv
/venv
venv/


!*media/.gitkeep
media/*


.env
/.env
.env/
migrations/
static/*


build
doc